config PKVM_FIDDLER
	tristate "Fiddle with pKVM"
	depends on KVM
	help
	  Fiddle.

menuconfig NVHE_CN_FULMINATE
	bool "nVHE CN"
	select NVHE_EL2_DEBUG
	select PROTECTED_NVHE_STACKTRACE
	select KVM_ARM_HYP_DEBUG_UART
	depends on KVM
	help
	  CN.

config NVHE_CN_MEM_LOG2
	int "CN dynamic memory pool size (log_2)"
	depends on NVHE_CN_FULMINATE
	default 22
	range 5 30
	help
	  Ghost will statically allocate its dynamic memory pool, mostly to
	  contradict in terms.

	  This number denotes log_2 of the memory pool size, in bytes. For instance,
	  22 denotes 4 MB.


# vim:set ft=kconfig:
